<h2>Contact Form</h2>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <label>Name:</label>
  <input type="text" formControlName="name" />
  <div class="error" *ngIf="(contactForm.get('name')?.touched || submitted) && contactForm.get('name')?.errors?.['required']">
    Name is required.
  </div>
  <div class="error" *ngIf="contactForm.get('name')?.errors?.['minlength']">
    Name must be at least 3 characters.
  </div>

  <label>Email:</label>
  <input type="email" formControlName="email" />
  <div class="error" *ngIf="(contactForm.get('email')?.touched || submitted) && contactForm.get('email')?.errors?.['required']">
    Email is required.
  </div>
  <div class="error" *ngIf="contactForm.get('email')?.errors?.['email']">
    Enter a valid email.
  </div>

  <label>Message:</label>
  <textarea formControlName="message"></textarea>
  <div class="error" *ngIf="(contactForm.get('message')?.touched || submitted) && contactForm.get('message')?.errors?.['required']">
    Message is required.
  </div>

  <br />
  <button type="submit" [disabled]="contactForm.invalid">Submit</button>
</form>
